body {
    display: block;
    margin: 0;
    font-family: montserrat;
    color: aliceblue;
    text-align: left;
    background-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    /* position: absolute; */
    height: 100vh;
    width: 100%;
}

#hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.6), rgb(0,0,0,0.6)), url(./IMAGES/blackmg.jpg);
    background-position: center;
    background-size: cover;
}


nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgba(0, 0, 0, 0.192);
}

#icon {
    color: whitesmoke;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

.nav-hidden{
    display: none;
}
.nav2-links {
    display: none;
}

.logo {
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.nav-links {
    padding-left: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.hero-section {
    margin: 0px 140px;
    padding-top: 150px;
    width: auto;
}

span {
    color: #ea1538;
}

.icons {
    display: flex;
    padding-top: 20px;
}

.icon {
    color: rgb(144, 154, 163);
    background-color: rgb(31, 31, 37);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.head {
    padding-top: 20px;
    font-size: 56px;
    font-weight: bold;
}

.parag {
    font-size: 24px;
    padding-top: 40px;
    color: rgb(144, 154, 163);
}

.second-head {
    padding-top: 120px;
    color: rgb(144, 154, 163);
}

#second {
    margin: 0 0px;
    padding: 20px, 30px;
    width: auto;
    background-color: rgb(31, 31, 32);
}

.about {
    padding: 130px;
    display: flex;
}

.image-about {
    border: 25px solid rgb(36, 36, 35);
    border-radius: 10px;
    height: 70vh;
    width: 50%;
    box-shadow: 20px 20px 20px rgb(0,0,0,0.6);
}

.about-me {
    padding: 20px;
}

.next-parag {
    padding-top: 120px;
    padding-left: 50px;
}

.about-parag {
    color: #d3314c;
}

.second-about {
    padding-top: 20px;
    font-size: 54px;
    font-weight: bold;
}

.cv {
    color: #ea1538;
    padding: 20px;
    background-color: rgb(26, 25, 25);
    box-shadow: 20px 20px 20px rgb(23, 23, 24) ;
}

.sizing {
    padding-top: 40px;
}

#service {
    margin: 0;
    padding: 130px;
    width: auto;
    background-color: rgb(31, 31, 32);
}

.service-h1 {
    font-size: 40px;
    padding-top: 20px;
}

.service-div {
    padding-top: 50px;
}

.service-box {
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.box {
    background-color: rgb(26, 25, 25);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
}

h2 {
    padding-top: 20px;
    font-size: 30px;
}

.service-parag {
    padding-top: 30px;
    font-size: 24px;
}

#contact {
    margin: 0 0px;
    padding: 130px;
    width: auto;
    background-color: rgb(31, 31, 32);
}
.contact-1 {
    padding-top: 80px;
    color: #ea1538;
}

.align {
    text-align: center;
    padding-top: 20px;
}

.contact-div {
    display: flex;
}

.contact-left {
    background-color: rgb(39, 38, 38);
    border-radius: 10px;
    padding: 30px;
}

.img-size {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.sec-icon {
    padding: 20px;
    background-color: rgb(31, 30, 30);
    border-radius: 10px;
    margin-right: 20px;
}

.contact-parag {
    padding-top: 10px;
    font-size: 20px;
    color: lightslategray;
    
}

.contact-h3 {
    padding-top: 14px;
    font-size: 20px;
    color: lightslategrey;
}
h4 {
    padding-top: 24px;
}
.contact-head {
    color: lightslategray;
    font-size: 52px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact-right {
    border-radius: 10px;
    background-color: rgb(39, 38, 38);
    padding: 30px;
    margin-left: 50px;
}

.contact {
    padding: 20px;
}
.name-phone {
    display: flex;
    gap: 10px;
}

form {
    width: 650px;
}

.input-type {
    border: 2px solid rgb(14, 13, 13);
    border-radius: 10px;
    width: 100%;
    /* height: 50px; */
    outline: none;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    color: white;
    box-sizing: border-box;
    transition: .3s;
}
.p-close {
    padding-right: 140px
}
.p-logo{
    padding-right: 350px;
}



#blog{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 130px;
  }
  
  .input {
    padding-top: 30px;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: #000000;
  }
  
  .output {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }
  
  label {
    color: #fff;
  }
  #title {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #2f3640;
    border: none;
    outline: none;

  }
  #blogImage {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #2f3640;
    border: none;
    outline: none;

  }
  #description{
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #2f3640;
    border: none;
    outline: none;

  }
  #btn {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color:#ea1538;
    border: none;
    color: #fff;
    margin-top: 10px;
  }



@media (max-width:1048px) {
    html, body {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    img.logo {
        /* padding-left: 150px; */
        width: 100px;
        height: 100px;
    }
    nav {
        padding-top: 10px;
    }
    p.p-logo {
        padding-right: 200px;
    }
    nav ul {
        margin-right: 20px;
        display: block;
    }
    ul.nav-links{
        font-size: 13px;
        color: #d3314c;
        padding-left: 1%;
        padding-right: 1%;
    }
    div.hero-section{
        padding-top: 200px;
        width: 100%;
        height: 50vh;
    }
    div.hero-section{
        margin: 0px;
        padding-left: 10px;
        }
    h1.head {
        font-size: 36px;
    }
    div.icon {
       padding: 8px;
       margin: 5px;
    }
   
    #second {
        padding-top: 60px;
        margin: 0px;
    }
    div.about {
        display: flex;
        padding: 150px 0px;
    }
    img.image-about {
        height: 60vh;
        width: 50%;
    }
    div.next-parag{
        padding-top: 30px;
        padding-left: 30px;
    }
    h1.second-about{
        padding-top: 8px;
        font-size: 40px;
    }
    p.sizing{
        padding-top: 15px;
        font-size: 18px;
    }
    button.cv{
    padding: 10px;

    }
    #service {
        padding: 160px 0px;
    }
    H1.service-h1 {
        padding-top: 10px;
    }
    div.service-box {
        display: flex;
        /* justify-content: space-between; */
        gap: 50px;
    }
    div.box {
        padding: 40px
    }
    #contact {
        margin: 0px;
        padding: 30px 0px;
        width: auto;
        background-color: rgb(31, 31, 32);
    }
    p.contact-1{
        display: none;
    }
    h1.contact-head{
        padding-top: 100px;
        font-size: 40px;
    }
    .contact-right {
        
        margin-left: 20px;
    }
    #blog {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 200px;
        /* padding: 130px; */
    }
    

      form {
        display: flex;
        flex-direction: column;
        padding: 60px;
      }
      
      label {
        color: #fff;
      }

      
      #title {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        background-color: #2f3640;
        border: none;
        outline: none;
    
      }
      #blogImage {
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        background-color: #2f3640;
        border: none;
        outline: none;
    
      }
      #description{
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        background-color: #2f3640;
        border: none;
        outline: none;
    
      }
      #btn {
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        background-color:#000000;
        border: none;
        color: #fff;
        margin-top: 10px;
      }
      
    
}

@media  (max-width:945px) {
    html, body {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    p.p-logo {
        display: none;
    }
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 130px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    a.active, a:hover {
        border: none;
        color: white;
    }
    nav ul.nav-links{
        left: 0;
    }
    div.hero-section{
        padding-top: 200px;
        width: 100%;
        height: 50vh;
    }
    div.hero-section{
        margin: 0px;
        padding-left: 10px;
        }
    h1.head {
        font-size: 46px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p.parag{
        font-size: 20px;
    }
    div.icon {
       padding: 18px;
       margin: 5px;
    }
    p.second-head{
        padding-top: 80px;
    }
    p.second-head{
        padding-top: 80px;
    }
    #second {
        padding-top: 60px;
        margin: 0px;
    }
    div.about {
        display: block;
        padding: 150px 0px;
    }
    img.image-about {
        height: 100vh;
        width: 100%;
    }
    div.next-parag{
        padding-top: 30px;
        padding-left: 30px;
    }
    h1.second-about{
        padding-top: 8px;
        font-size: 40px;
    }
    p.sizing{
        padding-top: 15px;
        font-size: 18px;
    }
    button.cv{
    padding: 10px;

    }
    #service {
        padding: 160px 0px;
    }
    H1.service-h1 {
        padding-top: 10px;
    }
    div.service-box {
        display: flex;
        /* justify-content: space-between; */
        gap: 30px;
    }
    div.box {
    padding:20px;
    width: 50%;
    
    }
    p.service-parag{
        font-size: 19px;
    }
    #contact {
        margin: 0px;
        padding: 30px 0px;
        width: auto;
        background-color: rgb(31, 31, 32);
    }
    p.contact-1{
        display: none;
    }
    h1.contact-head{
        padding-top: 100px;
        font-size: 40px;
    }
    .contact-right {
        margin-left: 10px;
    }
    .contact-div {
        display: block;
    }
    .img-size {
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }
    .contact-right {
        padding: 30px;
        margin: 20px;
    }
    form {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    div.name-phone{
        display: block;
    }
    button.special {
        width: 100%;
    }
    #blog {
        display: flex;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 130px;
    }
    .input {
        /* padding: 30px; */
        width: 100%;
        height: 50vh;
           
      }
      
      .output {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        background-color: rgb(155, 38, 38);
        width: 100%;
        height: 50vh;
      }
    
}

@media (max-width: 500px) {
    html, body {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    p.p-logo {
        display: flex;
        padding-left: 10px;
    }
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 112px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    a.active, a:hover {
        border: none;
        color: white;
    }
    nav ul.nav-links{
        left: 0;
    }

    div.hero-section{
        padding-top: 200px;
        width: 100%;
        height: 50vh;
    }
    div.hero-section{
        margin: 0px;
        padding-left: 10px;
    }
    h1.head {
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p.parag{
        font-size: 24px;
    }
    div.icon {
       padding: 25px;
       margin: 5px;
    }
    p.second-head{
        padding-top: 80px;
    }
    p.second-head{
        padding-top: 80px;
    }
    #second {
        padding-top: 60px;
        margin: 0px;
    }
    div.about {
        display: block;
        padding: 100px 0px;
    }
    img.image-about {
        height: 40vh;
        width: 100%;
    }
    div.next-parag{
        padding-top: 30px;
        padding-left: 30px;
    }
    h1.second-about{
        padding-top: 8px;
        font-size: 40px;
    }
    p.sizing{
        padding: 10px;
        font-size: 18px;
    }
    button.cv{
    padding: 20px;

    }

    #service {
        width: 100%;
    }
    p.about-parag {
        text-align: center;
    }
    H1.service-h1 {
        text-align: center;
        padding-top: 10px;
    }
    div.service-box {
        display: block;
    }
    div.box {
        margin: 20px 10px;
        border-radius: 10px;
    padding-top:20px;
    width: 100%;
    
    }
    p.service-parag{
        font-size: 19px;
    }

    #contact {
        margin: 0px;
        padding: 30px 0px;
        width: auto;
        background-color: rgb(31, 31, 32);
    }
    p.contact-1{
        padding-top: 100px;
        display: block;
    }
    h1.contact-head{
        padding-top: 20px;
        font-size: 40px;
    }
    .contact-div {
        display: block;
    }
    .img-size {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }
    .contact-right {
        padding: 0px;
        margin: 10px;
    }
    #blog {
        display: block;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 130px 0;
    }
    .input {
        padding-top: 30px;
        width: 100%;
        height: 50vh;
           
      }
      
      .output {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        background-color: rgb(155, 38, 38);
        width: 100%;
        height: 50vh;
      }
}

@media (max-width: 350px) {
    html, body {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    img.logo {
        width: 60px;
        height: 60px;
    }
    p.p-logo {
        display: flex;
        padding-left: 10px;
    }
    nav #icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 112px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav a {
        font-size: 20px;
    }
    a.active, a:hover {
        border: none;
        color: white;
    }
    nav ul.nav-links{
        left: 0;
    }
    div.hero-section{
        padding-top: 100px;
        width: 100%;
        height: 50vh;
    }
    div.hero-section{
        margin: 0px;
        padding-left: 10px;
    }
    h1.head {
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p.parag{
        font-size: 20px;
    }
    div.icon {
       padding: 25px;
       margin: 5px;
    }
    
}






